[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/bin/xdg-open https://docs.getaurora.dev
Icon=aurora-docs
Name=Documentation
Comment=Aurora documentation
Comment[fr]=Documentation d'Aurora
Categories=Utility;
Keywords=aurora;docs;manual;guide;help;tutorial;
