[Desktop Entry]
Type=Application
Name=System Update
Name[fr]=Mises à jour
Comment=Update the system, Flatpaks and Homebrew.
Comment[fr]=Mets à jour le système, les Flatpaks et Homebrew.
Icon=system-software-update
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
