[Unit]
Description=Bazaar background service for shell search results
Documentation=https://github.com/kolunmi/bazaar
After=graphical-session.target
Requires=dbus.service
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/sh -c '/usr/bin/flatpak info io.github.kolunmi.Bazaar > /dev/null 2>&1'
ExecStart=/usr/bin/flatpak run --command=bazaar io.github.kolunmi.Bazaar --no-window
StandardOutput=journal

[Install]
WantedBy=graphical-session.target
